
<%= link_to post_path(post), id: "post-id-#{post.id}",
   class: "block bg-white border border-gray-800 shadow-md flex flex-col items-center text-center p-3 hover:shadow-lg hover:scale-[1.02] transition-transform duration-200" do %>
  <!-- 画像コンテナ -->
  <div class="flex items-center justify-center min-h-[200px] mb-4">
    <% if post.image.attached? && post.image.content_type.in?(%w[image/jpeg image/png]) %>
      <%= image_tag(post.image_as_thumbnail, class: "max-h-48 max-w-full object-contain") %>
    <% else %>
      <%= image_tag "place_holder.png", class: "w-full h-48 object-cover border border-gray-300" %>
    <% end %>
  </div>

  <!-- テキスト部分 -->
  <div>
    <h4 class="text-lg font-semibold mt-1 mb-1"><%= post.title %></h4>
    <div class="text-sm text-gray-500 mb-1">
      <p><%= post.user.name %></p>
      <p><%= l post.created_at %></p>
    </div>
    <!-- <div class="flex space-x-3 justify-center">
      <%= link_to '#', id: "button-edit-#{post.id}", class: "text-blue-600 hover:underline" do %>
        編集
      <% end %>
      <%= link_to '#', id: "button-delete-#{post.id}", method: :delete, data: { confirm: '' }, class: "text-red-600 hover:underline" do %>
        削除
      <% end %>
    </div> -->
  </div>

<% end %>
