<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# --- OGP（動的対応）ここから --- %>
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'SkyPhotos' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : '空の写真を共有するアプリ。' %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : asset_url('default_ogp.jpeg') %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <%# --- OGPここまで --- %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag asset_path('logo_black.svg'), type: 'image/svg+xml' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="flex flex-col min-h-screen bg-neutral-100">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </main>
  </body>
</html>
